/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffc0cb; /* Pink background */
}

/* Container styles */
#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: -4rem;
}

/* Button styles */
.button {
    background-color: #38a169; /* Green button */
    color: white;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #2f855a; /* Darker green on hover */
}

/* Text styles */
.text {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1rem;
}

/* Animation styles */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* GIF styles */
.cute-gif {
    height: 200px;
    animation: fadeIn 2s;
}

/* Date options container styles */
.date-options-container {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

/* Date option styles */
.date-option-label {
    display: flex;
    align-items: center;
    margin: 0.5rem;
    font-size: 1.2rem;
}

/* Date picker container styles */
.date-picker-container {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

/* Date picker styles */
.date-picker {
    margin-top: 0.5rem;
}

/* Submit date button styles */
#submit-date {
    background-color: #ffd700; /* Yellow button */
    margin-top: 0.5rem;
}

#submit-date:hover {
    background-color: #ffcc00; /* Darker yellow on hover */
}
